<%= render "shared/header" %>
<div class="user-show">
  <div class="user-show-detail">
  <div class='user-title'>ユーザー名</div>
  <div class='user-name'><%= @user.username %>さん</div>
  <div class='user-title'>住所</div>
  <div class='user-name'><%= @user.city_address %></div>
  <div class='user-title'>連絡先</div>
  <div class='user-name'><%= @user.email %></div>
  <p></p>
  </div>
</div>
<%= render "shared/footer" %>