<%= render "shared/header" %>
<div class='charter-new-form'>
  <h1>チャーター便発注</h1>
  <%=form_with model: @charter, local: true do |f|%>
  <div class='charter-new-wrapper'>
    <div class='charter-new-detail'>
      <div class='charter-new-form__field'>
        <div class='charter-new-form__field--left'>
          <%= f.label :出発地, class: 'charter-new-form__label'%>
        </div>
        <div class='charter-new-form__field--right'>
          <%= f.text_field :departure, class: 'charter-new-form__input', placeholder: '出発地を入力してください'%>
        </div>
      </div>
      <div class='charter-new-form__field'>
        <div class='charter-new-form__field--left'>
          <%= f.label :到着地, class: 'charter-new-form__label'%>
        </div>
        <div class='charter-new-form__field--right'>
          <%= f.text_field :arrive, class: 'charter-new-form__input', placeholder: '到着地を入力してください'%>
        </div>
      </div>
      <div class='charter-new-form__field'>
        <div class='charter-new-form__field--left'>
          <%= f.label :才数, class: 'charter-new-form__label'%>
        </div>
        <div class='charter-new-form__field--right'>
          <%= f.text_field :size, class: 'charter-new-form__input', placeholder: '才数'%>
        </div>
      </div>
      <div class='charter-new-form__field'>
        <div class='charter-new-form__field--left'>
          <%= f.label :希望価格, class: 'charter-new-form__label'%>
        </div>
        <div class='charter-new-form__field--right'>
          <%= f.text_field :buy_price, class: 'charter-new-form__input', placeholder: '50000'%>
        </div>
      </div>
    </div>

    <div class='charter-new-address'>
      <div class='charter-new-form__field'>
        <div class='charter-new-form__field--left'>
          <%= f.label :都道府県, class: 'charter-new-form__label_hash'%>
        </div>
        <div class='charter-new-form__field--right_hash'>
          <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"chat__room_name charter-new-form__input select-box", id:"prefecture-category"}) %>
        </div>
      </div>
      <div class='charter-new-form__field'>
        <div class='charter-new-form__field--left'>
          <%= f.label :市区町村, class: 'charter-new-form__label'%>
        </div>
        <div class='charter-new-form__field--right'>
          <%= f.text_field :city, class: 'charter-new-form__input', placeholder: '千代田区'%>
        </div>
      </div>
      <div class='charter-new-form__field'>
        <div class='charter-new-form__field--left'>
          <%= f.label :番地, class: 'charter-new-form__label'%>
        </div>
        <div class='charter-new-form__field--right'>
          <%= f.text_field :charter_address, class: 'charter-new-form__input', placeholder: '1-1'%>
        </div>
      </div>
      <div class='charter-new-form__field'>
        <div class='charter-new-form__field--left'>
          <%= f.label :建物名, class: 'charter-new-form__label'%>
        </div>
        <div class='charter-new-form__field--right'>
          <%= f.text_field :build_name, class: 'charter-new-form__input', placeholder: '〇〇ビル〇〇'%>
        </div>
      </div>
      <div class='charter-new-form__field'>
        <div class='charter-new-form__field--left'>
          <%= f.label :電話番号, class: 'charter-new-form__label'%>
        </div>
        <div class='charter-new-form__field--right'>
          <%= f.text_field :tell_number, class: 'charter-new-form__input', placeholder: '09012345678'%>
        </div>
      </div>
    </div>
  </div>



    <div class='charter-new-form__field'>
      <div class='charter-new-form__field--left'></div>
      <div class='charter-new-form__field--right'>
        <%= f.submit "チャーターの発注", class: 'charter-form__action-btn' %>
      </div>
    </div>
  <% end %>
</div>
<%= render "shared/footer" %> 