
<h1>チャーター便詳細</h1>
<div class="charter-show-left">
  <div class="charter-details">
    <div class="charter-departure-arrive">
      <%= "#{@charter.departure}→#{@charter.arrive}" %>
    </div>
    <div class="charter-buy-price">
      <div class="charter-buy-price-value">発注者希望価格</div>
      <div class="charter-buy-price-value"><%= "#{@charter.buy_price}円"%></div>
    </div>
    <div class="charter-address">
      <div class="charter-address-value">発送先住所</div>
      <div class="charter-address-value"><%= "#{@charter.prefecture_id}#{@charter.city}#{@charter.charter_address}#{@charter.build_name}"%></div>
    </div>
    <div class="charter-size">
      <div class="charter-address-value">チャーター便才数</div>
      <div class="charter-address-value"><%= "#{@charter.size}才"%></div>
    </div>
  </div>

  <div class= "charter-images">
    <div class="charter-arrive-map">
    </div>
    <div class="charter-edit">
      <%= link_to "編集する", edit_charter_path(@charter) %>
    </div>
    <div class="charter-delete">
      <%= link_to "削除", charter_path(@charter), method: :delete %>
    </div>
    <div class="charter-parchase">
    </div>
  </div>
</div>


<div class="charter-show-left">
  <div class="price-input">
    <% if user_signed_in? %>
        <%= form_with(model: [@charter, @sell], local: true) do |form| %>
        <%= form.text_area :sell, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
  <h6>価格一覧</h6>
  <ul class="price-row">  
    <% @sells.each do |sell|%>
      <li class="price-lists">
        <%= link_to "#{sell.sell}円", "#", id: "price", class: "price-list" %>
      </li>
    <% end %>
  </ul>
</div>