<!DOCTYPE html>
<html>
  <head>
    <title>CharterTrade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script>
    function initMap() {
      const target = document.getElementById('gmap');
      const address = document.getElementById('address').textContent;
      const geocoder = new google.maps.Geocoder();

      geocoder.geocode({ address: address }, function (results, status) {
        if (status === 'OK' && results[0]){
          const map =new google.maps.Map(target, {
            center: results[0].geometry.location,
            zoom: 16
          });
          const marker = new google.maps.Marker({
            position: results[0].geometry.location,
            map: map,
            animation: google.maps.Animation.DROP
          });
       
       
       }else{
         alert('失敗しました。理由: ' + status);
         return;
       }
      });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGQfWe_1v8jebch6Rb8gEH8qAvPb_l2o8&callback=initMap" async defer></script>
  </body>
</html>

